*{
  margin: 0; 
  padding: 0; 
  
}

body{
  background-color: #171738;
  color: #bfc0c0; 
}

#content{
  display: flex; 
  flex-direction: column; 
  text-align: center; 
  padding: 30vh;
  align-items: center;   
}

#title{
  height: 10vh; 
  text-align: center;
  padding-bottom: 5px; 
}

#title-text{
  font-size: 50px; 
}

#convert-box{
  height: 150px;
  font-size: 35px;  
  padding: 40px; 
  width: 300px; 
  margin-top: 30px; 
  background-color:rgba(50, 103, 113, 0.6);
  border: 2px solid #bfc0c0; 
}

#conver-text{
  background-color: #326771;
}

input{
  height: 5vh; 
  width: 20vw; 
  margin-top: 20px;
  border: 3px solid #bfc0c0;
}

button{
  height: 5vh; 
  width: 10vw; 
  font-size: 16px; 
  text-align: center;
  margin-top: 20px; 
  background-color:#bfc0c0;
  color: #261447; 
  border: 2px solid #bfc0c0;
}

#output{
  height: 10vh; 
  font-size: 30px;
  padding-top: 50px; 
}

#output-text-error{
  color: #DA3E52; 
}

#output-text{
  color: #326771; 
  font-size: 50px; 
}
